//Colors
$white-primary: #F6F6F6;
$white-secondary: #E8E8E8;
$black: #222;
$primary: #9CCFE7;
$secondary: #977FD7;
$tertiary: #F5A9CB;


//Breakpoints
$breakpoint-es: 500px;
$breakpoint-s: 600px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-el: 1200px;

//Font Sizes
$font-es: 0.5rem;
$font-s: 0.875rem;
$font-m: 1rem;
$font-l: 1.4rem;
$font-el: 2rem;
$font-title: 2.5rem;

//Animations
$showAnim: all 750ms ease-in;